@using AttendanceSystem.Models
@model AttendanceSystem.Models.EmployeeLeave

@{
    ViewBag.Title = "AddLeaveInfo";
}

<h2>AddLeaveInfo</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EmployeeLeave</legend>

        <br/>
        <div class="editor-label">
            @Html.LabelFor(model => model.LeaveStartDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LeaveStartDate, new { type = "date" })
            @Html.ValidationMessageFor(model => model.LeaveStartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LeaveEndDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LeaveEndDate, new { type = "date" })
            @Html.ValidationMessageFor(model => model.LeaveEndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Reason)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reason)
            @Html.ValidationMessageFor(model => model.Reason)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LeaveType)
        </div>
        <div class="editor-field">
            @Html.DropDownList("LeaveType", Enum.GetValues(typeof(LeaveTypeEnum)).Cast<LeaveTypeEnum>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() })) 
            @Html.ValidationMessageFor(model => model.LeaveType)

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeId, "Employee")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EmployeeId", String.Empty)
            @Html.ValidationMessageFor(model => model.EmployeeId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "LeaveInfo")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
