<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Attendance System", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">
                                Office Management<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">

                                <li>@Html.ActionLink("Employee", "Index", "Employee")</li>
                                <li>@Html.ActionLink("Shift", "Index", "Shift")</li>
                                <li>@Html.ActionLink("Department", "Index", "Dept")</li>
                                <li>@Html.ActionLink("Branch", "Index", "Branch")</li>
                                <li>@Html.ActionLink("Todays Entry", "TodaysEntry", "Home")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">
                                Leave Management<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Entry Total Leave", "Index", "Leave")</li>
                                <li>@Html.ActionLink("Leave Info", "AddLeaveInfo", "Leave")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">
                                Attendance Management<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Attendance", "Index", "Attendance")</li>
                                <li>@Html.ActionLink("Summary", "Index", "Summary")</li>
                                <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>

    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>
