@model System.Collections.Generic.List<AttendanceSystem.Models.Employee>

@{
    ViewBag.Title = "Employee List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee List</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Designation</th>
        <th>Joining Date</th>
        <th>Reference Id</th>
        <th>Shift</th>
        <th>Department</th>
        <th>Branch</th>
        <th>Action</th>
    </tr>
    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee.Name</td>
            <td>@employee.Designation</td>
            <td>@employee.JoiningDate.ToShortDateString()</td>
            <td>@employee.ReferenceId</td>
            <td>@employee.Shift.Name</td>
            <td>@employee.Department.Name</td>
            <td>@employee.Branch.Name</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = employee.Id })|
                @Html.ActionLink("Edit", "Edit", new {id = employee.Id})|
                @Html.ActionLink("Delete", "Delete", "Employee", new {id = employee.Id},
                    new {onclick = "return confirm('Are you sure you want to delete this employee?')"})
            </td>
        </tr>

    }


</table>

<a class="btn btn-info" href="/Employee/Create">Create Employee</a>

@*@Html.ActionLink("Create Employee", "Create")*@


