@model System.Collections.Generic.List<AttendanceSystem.Models.Shift>

@{
    ViewBag.Title = "Shift List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shift List</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Expected Entry Time</th>
        <th>Grace Entry Time</th>
        <th>Expected Exit Time</th>
        <th>Action</th>
    </tr>
    @foreach (var shift in Model)
    {
        <tr>
            <td>@shift.Name</td>
            <td>@shift.ExpectedEntryTime</td>
            <td>@shift.GraceEntryTime</td>
            <td>@shift.ExpectedExitTime</td>
            <td>
                @Html.ActionLink("Details", "Details", new {id = shift.Id})|
                @Html.ActionLink("Edit", "Edit", new {id = shift.Id})|
                @Html.ActionLink("Delete", "Delete", "Shift", new {id = shift.Id},
                    new {onclick = "return confirm('Are you sure you want to delete this shift?')"})
            </td>
        </tr>
    }
</table>
<a class="btn btn-info" href="/Shift/Create">Create Shift</a>
<h3 class="red">@ViewBag.Message</h3>