@model System.Collections.Generic.List<AttendanceSystem.Models.Branch>

@{
    ViewBag.Title = "Branch List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Branch List</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Full Address</th>
        <th>Actions</th>
    </tr>
    @foreach (var branch in Model)
    {
        <tr>
            <td>@branch.Name</td>
            <td>@branch.FullAddress</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = branch.Id })|
                @Html.ActionLink("Edit", "Edit", new { id = branch.Id })|
                @Html.ActionLink("Delete", "Delete", "Branch", new { id = branch.Id },
              new { onclick = "return confirm('Are you sure you want to delete this branch?')" })
            </td>
        </tr>
    }
</table>
<a class="btn btn-info" href="/Branch/Create">Create Branch</a>
<h3 class="red">@ViewBag.Message</h3>